@import "compass/css3/box";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/images";

$default-padding: 12px;

%has-columns {
  @include display-box;
  @include box-align(stretch);
}

.multi-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.one-line-text {
  @extend .multi-line-text;
  white-space: nowrap;
}

.list-title {
  @include background-image(linear-gradient(#5f9cc5,#396b9e));
  text-align: center;
  color: #fff;

  > h1 {
    @extend .one-line-text;
    font-size: 24px;
    font-weight: bold;
  }

  > h2 {
    @extend .one-line-text;
    font-size: 20px;
  }

  > .row {
    padding-bottom: $default-padding;
  }

  > .row:first-child {
    padding-top: $default-padding;
  }
}

.list-row {
  $height: 75px;
  $border-color: #999;

  @extend %has-columns;
  @include background-image(linear-gradient(#fff, #eee));

  height: $height;
  border-top: 1px solid $border-color;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  &:hover {
    @include background-image(linear-gradient(#eee, darken(#eee, 10%)));

    .icon-container > i {
      color: #4d90fe;
    }
  }

  &:active {
    background: darken(#eee, 10%);
  }

  > .button-container {
    line-height: $height;
    height: $height;
    width: $height;
    text-align: center;
  }

  > .icon-container {
    @extend .button-container;

    > i {
      @include transition-property(color);
      @include transition-duration(0.5s);

      font-size: 0.3 * $height;
      color: #888;
      cursor: pointer;
    }
  }

  > .column {
    // border-right: 1px solid $border-color;
  }

  > .column:last-child {
    // border-right: none;
  }

  > .content-column {
    @include box-flex(1);

    > .header {
      @extend %has-columns;
      font-size: 14px;
      height: 40px;
      line-height: 40px;

    }

    > .body {
      @extend .multi-line-text;

      font-size: 12px;
      font-weight: 300;
      //padding: $default-padding;
    }
  }
}
