// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$fontFileName: "../fonts/entypo";
$fontName: "entypo";
$classPrefix: "km-";

@mixin i-class($name,$pua) {
  .#{$classPrefix}#{$name}:after, {
    content: "#{$pua}";
    font-family: $fontName;
  }
}

@mixin face {
  @font-face {
    font-family: $fontName;
    src: url('#{$fontFileName}.eot');
    src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
         url('#{$fontFileName}.woff') format('woff'),
         url('#{$fontFileName}.ttf') format('truetype'),
         url('#{$fontFileName}.svg##{$fontName}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

// span[class*="icon-"] {
//   display: inline;
//   width: auto;
//   height: auto;
//   line-height: inherit;
//   vertical-align: baseline;
//   background-image: none;
//   background-position: 0 0;
//   background-repeat: repeat;
// }

span[class*="icon-"]:after {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@include face;
@include i-class(mail, "\2709");
@include i-class(cell, 📞);
@include i-class(bbm, "\f354");
@include i-class(menu, "\2630");
@include i-class(message, "\e718");
@include i-class(reply, "\e712");
@include i-class(forward, "\27a6");
@include i-class(archive, "\e738");
@include i-class(check, "\2713");
@include i-class(arrow-left, 🔙);
@include i-class(facebook, "\f30c");
@include i-class(twitter, "\f309");
@include i-class(circle, "\26ab");
