@import "compass/css3/box";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "fonts";

%has-columns {
  @include display-box;
  @include box-align(stretch);
}

%multi-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

%one-line-text {
  @extend %multi-line-text;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.list-row {
  $height: 80px;
  $border-color: #999;

  @extend %has-columns;

  height: $height;

  %column {
    height: 100%;
  }

  > .icon-column {
    @extend %column;

    line-height: $height;
    width: $height;
    text-align: center;
    padding: 0;
    margin: 0;
    position: static;

    input[type="checkbox"] {
      position: static;
      margin: 0;
    }
  }

  > .content-column {
    @extend %column;
    @include box-flex(1);

    > h2 {
      // @extend %has-columns;
      @extend %single-line-text;
      font-size: 14px;
    }

    > h3 {
      @extend %single-line-text;
      font-size: 12px;
    }

    > p {
      @extend %multi-line-text;

      font-size: 12px;
      font-weight: 300;
    }

    > h2, h3, p {
      margin: 0;
      padding: 2px;
    }
  }
}

