@import "compass/css3/box";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "fonts";

%has-columns {
  @include display-box;
  @include box-align(stretch);
}

%multi-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

%single-line-text {
  @extend %multi-line-text;
  white-space: nowrap;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.theme-blue {
  background-color: #3395d5;
}

.clickable {
  cursor: pointer;
}

.list-row {
  $height: 80px;
  $border-color: #999;

  @extend %has-columns;

  height: $height;

  %column {
    height: 100%;
  }

  > .icon-column {
    @extend %column;

    line-height: $height;
    width: $height * 0.75;
    text-align: center;
    padding: 0;
    margin: 0;
    position: static;

    input[type="checkbox"] {
      position: static;
      margin: 0;
    }
  }

  > .content-column {
    @extend %column;
    @include box-flex(1);

    h2 {
      @extend %single-line-text;
      font-size: 14px;
    }

    h3 {
      @extend %single-line-text;
      font-size: 12px;
    }

    h4 {
      @extend %single-line-text;
      font-size: 10px;
    }

    p {
      @extend %multi-line-text;

      font-size: 12px;
      font-weight: 300;
    }

    h2, h3, h4, p {
      margin: 0;
      padding: 2px;
    }

    .fromId, .fromName {
      width: 50%;
      display: inline-block;
    }

    .fromId {
      float: right;
      text-align: right;
      font-weight: 300;
    }

    .fromName {
      float: left;
    }
  }
}

