@import "compass/css3/box";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "fonts";

%has-columns {
  @include display-box;
  @include box-align(stretch);
}

%multi-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

%one-line-text {
  @extend %multi-line-text;
  white-space: nowrap;
}

.list-row {
  $height: 80px;
  $border-color: #999;

  @extend %has-columns;

  height: $height;

  %column {
    height: 100%;
  }

  > .button-column {
    line-height: $height;
    height: $height;
    width: $height;
    text-align: center;
  }

  > .icon-column {
    @extend %column;

    line-height: $height;
    width: $height;
    text-align: center;

    input[type="checkbox"] {
      position: static;
    }
  }

  > .content-column {
    @extend %column;
    @include box-flex(1);

    > .header {
      @extend %has-columns;
      font-size: 14px;
      height: 35px;
      line-height: 35px;
    }

    > .body {
      @extend %multi-line-text;

      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
    }
  }
}

