mixin message-menu
  header#message-menu(data-role="header")
    div(data-role="navbar")
      a(data-role="button", data-align="right", data-icon="trash") Ignore
      a(data-role="button", data-align="right", data-icon="add") Add
      a(data-role="button", data-align="right", data-icon="folder") Move

mixin reminder-menu
  header#reminder-menu(data-role="header")
    div(data-role="navbar")
      a(data-role="button", data-align="right", data-icon="recents") Remind Later
