mixin notification-bar(views, home, count)
    div#notification-bar(data-role="drawer", style="width: 270px;", data-views="#{views}")
        ul(data-role="listview")
            li(data-icon="facebook")
                a Facebook
            li(data-icon="twitter")
                a Twitter
            li(data-icon="mail")
                a Email
                    span.badge 2
            li(data-icon="home")
                a(href="#{home}") Task Hub
                    span.badge #{count}
            li(data-icon="bbm")
                a BBM
