include menu

mixin reminder-view
  div#reminder-view(data-role="view", data-title="Reminders")
    header(data-role="header")
      div(data-role="navbar")
        h4(data-role="view-title")
    footer(data-role="footer")
      div(data-role="navbar")
        a(data-role="button", href="#task-list-view", data-icon="home") Enter
