mixin task-add
  div#task-add-view(data-role="view")
    header(data-role="header")
      div(data-role="navbar")
        a(data-role="backbutton", data-align="left", data-icon="arrow-left") Back
    footer(data-role="footer")
      div(data-role="navbar")
        a(data-role="backbutton", data-align="left", data-icon="arrow-left") Cancel
        a(data-role="button", data-align="right", data-icon="forward") Add Task
    ul(data-role="listview", data-style="inset")
      li
        label Task Name
          input(type="text", placeholder="Help me find my cat")
      li
        label Summary
          textarea(style="resize: none; height: 16em;", placeholder="I lost my cat on Thursday")
      li
        label Remind Me Every
          select
            option Day
            option Week
            option Month
      li
        label Starting On
          input(type="date")
