doctype html
html
  head(lang="en")
    title Task Hub
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="//cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css")
    link(rel="stylesheet", href="//cdn.kendostatic.com/2013.2.716/styles/kendo.mobile.all.min.css")
    link(rel="stylesheet", href="/css/mobile.css")
    block stylesheet
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//cdn.kendostatic.com/2013.2.716/js/kendo.all.min.js")
    script(src="/js/data.js")
    script(src="/js/core.js")
    script(src="/js/mobile-application.js")
    block head-script
  body
    div#device-wrapper
      div#notification-indicator
        i.km-icon.km-circle
      div#mobile-application-container
        block body
        script.
          var app = new kendo.mobile.Application($('#mobile-application-container'), {
            skin: 'flat',
            transition: 'slide'
          });

          var notificationIndicatorColor = '#f00';
          setInterval(function() {
            notificationIndicatorColor = (notificationIndicatorColor == '#f00') ? '#444' : '#f00';
            $('#notification-indicator').css('color', notificationIndicatorColor);
          }, 2000);
        block body-script
