doctype html
html
  head(lang="en")
    title Task Hub
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/core.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/js/core.js")
  body
    block content
