extend kendo-mobile-layout
block body
  div#category-view(data-role="view", data-layout="default-layout", data-init="onCategoryViewInit")
    ul#category-list
  div#contact-view(data-role="view", data-layout="default-layout", data-init="onContactViewInit")
    ul#contact-list
  div#all-view(data-role="view", data-layout="default-layout", data-init="onAllViewInit")
    ul#all-list

  div(data-role="layout", data-id="default-layout")
    div#group-by-popover(data-role="popover", data-popup="{ height: '12em' }")
      div(data-role="view", data-init="onGroupByPopOverInit")
        ul(data-role="listview", data-click="onGroupByListClick")
          li
            label Group By Category
              input(name="group-by-select", type="radio", checked="checked", value="category-view")
          li
            label Group By Contact
              input(name="group-by-select", type="radio", value="contact-view")
          li
            label View All
              input(name="group-by-select", type="radio", value="all-view")

    div#search-popover(data-role="popover", data-popup="{ height: '8em;' }")
      div(data-role="view")
        ul(data-role="listview")
          li
            label Search
              input(type="search")

    footer(data-role="footer")
      div(data-role="tabstrip")
        a(data-icon="search", data-rel="popover", href="#search-popover") Search
        a(data-icon="menu", data-rel="popover", href="#group-by-popover") Group By
        a(data-icon="add", href="#add-task-view") Add Task

block body-script
  script#list-view-template(type="text/x-kendo-template")
    div.list-row
      div.icon-column.km-listview-label
        input(type="checkbox")
      div.content-column.clickable
        h2 ${name}
        h3 ${date}
        p ${summary}
  script(src="/js/task-list.js")
