@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, ../../sass/_fonts.scss */
i[class*="icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 38, ../../sass/_fonts.scss */
i[class*="icon-"]:before {
  font-family: "entypo";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../../sass/_fonts.scss */
.icon-mail:before {
  content: "\2709";
}

/* line 9, ../../sass/_fonts.scss */
.icon-phone:before {
  content: "📞";
}

/* line 9, ../../sass/_fonts.scss */
.icon-bbm:before {
  content: "\f354";
}

/* line 9, ../../sass/_fonts.scss */
.icon-menu:before {
  content: "\2630";
}

/* line 9, ../../sass/_fonts.scss */
.icon-message:before {
  content: "\e718";
}

/* line 9, ../../sass/_fonts.scss */
.icon-reply:before {
  content: "\e712";
}

/* line 9, ../../sass/_base.scss */
.header-menu, .list-row, .list-row > .content-column > .header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}

/* line 14, ../../sass/_base.scss */
.clickable {
  cursor: pointer;
}

/* line 18, ../../sass/_base.scss */
.animatable {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 23, ../../sass/_base.scss */
.theme-flat-black {
  background-color: #111;
  color: #b9b9b9;
}

/* line 28, ../../sass/_base.scss */
.theme-flat-grey {
  background-color: #dfdcdf;
  color: #474647;
}

/* line 35, ../../sass/_base.scss */
.header-menu {
  /*
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-menu-height;
  */
}
/* line 45, ../../sass/_base.scss */
.header-menu > .option {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 14px 0;
  padding-top: 9px;
  text-align: center;
  border-top: 5px solid #515151;
  margin-right: 2px;
}
/* line 55, ../../sass/_base.scss */
.header-menu > .option:last-child {
  margin-right: 0;
}

/* line 60, ../../sass/_base.scss */
.header-menu.theme-flat-black {
  border-bottom: 1px solid #999;
}
/* line 63, ../../sass/_base.scss */
.header-menu.theme-flat-black > .option {
  background-color: #292929;
}
/* line 67, ../../sass/_base.scss */
.header-menu.theme-flat-black > .option.clickable:hover {
  background-color: #111;
  border-top-color: #3395d5;
}

/* line 73, ../../sass/_base.scss */
.multi-line-text, .one-line-text, .list-title > h1, .list-title > h2, .message-list .from-text, .message-list .from-id, .message-list .from-name, .list-row > .content-column > .body {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 78, ../../sass/_base.scss */
.one-line-text, .list-title > h1, .list-title > h2, .message-list .from-text, .message-list .from-id, .message-list .from-name {
  white-space: nowrap;
}

/* line 83, ../../sass/_base.scss */
.list-title {
  background-color: #3395d5;
  text-align: center;
  color: #fff;
}
/* line 89, ../../sass/_base.scss */
.list-title > h1 {
  font-size: 24px;
  font-weight: bold;
}
/* line 95, ../../sass/_base.scss */
.list-title > h2 {
  font-size: 20px;
}
/* line 100, ../../sass/_base.scss */
.list-title > .row {
  padding-bottom: 12px;
}
/* line 104, ../../sass/_base.scss */
.list-title > .row:first-child {
  padding-top: 12px;
}

/* line 109, ../../sass/_base.scss */
.list-row {
  height: 80px;
  border-top: 1px solid #999999;
  cursor: pointer;
}
/* line 120, ../../sass/_base.scss */
.list-row:last-child {
  border-bottom: 1px solid #999999;
}
/* line 124, ../../sass/_base.scss */
.list-row:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4);
  background-image: -moz-linear-gradient(#eeeeee, #d4d4d4);
  background-image: -o-linear-gradient(#eeeeee, #d4d4d4);
  background-image: linear-gradient(#eeeeee, #d4d4d4);
}
/* line 127, ../../sass/_base.scss */
.list-row:hover .icon-container > i {
  color: #4d90fe;
}
/* line 132, ../../sass/_base.scss */
.list-row:active {
  background: #d4d4d4;
}
/* line 136, ../../sass/_base.scss */
.list-row > .button-container, .list-row > .icon-container {
  line-height: 80px;
  height: 80px;
  width: 80px;
  text-align: center;
}
/* line 146, ../../sass/_base.scss */
.list-row > .icon-container > i {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}
/* line 156, ../../sass/_base.scss */
.list-row > .column {
  height: 100%;
}
/* line 165, ../../sass/_base.scss */
.list-row > .content-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 168, ../../sass/_base.scss */
.list-row > .content-column > .header {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}
/* line 175, ../../sass/_base.scss */
.list-row > .content-column > .body {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

/* line 13, ../../sass/core.scss */
body {
  font-family: "Open Sans", "Helvetica", "Helvetica Neue", "Arial";
  font-size: 12px;
  color: #000;
}

/* line 19, ../../sass/core.scss */
body, html {
  height: 100%;
}

/* line 23, ../../sass/core.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
}

/* line 28, ../../sass/core.scss */
h2 {
  font-size: 18px;
}

/* line 32, ../../sass/core.scss */
.group:after, .header-toolbar:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../../sass/core.scss */
.left-column, .header-toolbar .column {
  float: left;
}

/* line 42, ../../sass/core.scss */
.right-column {
  float: right;
}

/* line 46, ../../sass/core.scss */
.header-toolbar {
  background-color: #111;
  color: #fff;
  font-size: 24px;
}
/* line 53, ../../sass/core.scss */
.header-toolbar .column {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#3c3c3c, #111111);
  background-image: -moz-linear-gradient(#3c3c3c, #111111);
  background-image: -o-linear-gradient(#3c3c3c, #111111);
  background-image: linear-gradient(#3c3c3c, #111111);
  height: 75px;
  line-height: 75px;
  padding: 0 10px;
  border-top: 5px solid #515151;
  margin-right: 2px;
  cursor: pointer;
}
/* line 65, ../../sass/core.scss */
.header-toolbar .column:active, .header-toolbar .column:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494949), color-stop(100%, #1e1e1e));
  background-image: -webkit-linear-gradient(#494949, #1e1e1e);
  background-image: -moz-linear-gradient(#494949, #1e1e1e);
  background-image: -o-linear-gradient(#494949, #1e1e1e);
  background-image: linear-gradient(#494949, #1e1e1e);
}
/* line 69, ../../sass/core.scss */
.header-toolbar .column:last-child {
  margin-right: 0;
}

/* line 75, ../../sass/core.scss */
.task-detail-view > h1 {
  text-align: center;
}
/* line 79, ../../sass/core.scss */
.task-detail-view > .header {
  background-color: #1c4c8a;
}

/* line 91, ../../sass/core.scss */
.message-list .from-id, .message-list .from-name {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/* line 98, ../../sass/core.scss */
.notification-sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  height: 100%;
  font-size: 24px;
  color: #fff;
  width: 250px;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 118, ../../sass/core.scss */
.notification-sidebar.hidden {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px);
}
/* line 122, ../../sass/core.scss */
.notification-sidebar .row {
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #999999;
}
/* line 128, ../../sass/core.scss */
.notification-sidebar .row:first-child {
  border-top: 1px solid #999999;
}
/* line 132, ../../sass/core.scss */
.notification-sidebar .row:hover {
  background-color: #3395d5;
}

/* line 139, ../../sass/core.scss */
.cs449-has-checkbox .ui-btn-inner a.ui-link-inherit {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 144, ../../sass/core.scss */
.cs449-has-checkbox .ui-btn-inner a.ui-link-inherit .ui-btn {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 0;
}
