@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 39, ../../sass/_fonts.scss */
span[class*="icon-"]:after {
  font-family: "entypo";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../../sass/_fonts.scss */
.km-mail:after {
  content: "\2709";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-phone:after {
  content: "📞";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-bbm:after {
  content: "\f354";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-menu:after {
  content: "\2630";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-message:after {
  content: "\e718";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-reply:after {
  content: "\e712";
  font-family: "entypo";
}

/* line 8, ../../sass/mobile.scss */
.list-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}

/* line 13, ../../sass/mobile.scss */
.list-row > .content-column > p {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 23, ../../sass/mobile.scss */
.clickable {
  cursor: pointer;
}

/* line 27, ../../sass/mobile.scss */
.list-row {
  height: 80px;
}
/* line 35, ../../sass/mobile.scss */
.list-row > .icon-column, .list-row > .content-column {
  height: 100%;
}
/* line 39, ../../sass/mobile.scss */
.list-row > .icon-column {
  line-height: 80px;
  width: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: static;
}
/* line 49, ../../sass/mobile.scss */
.list-row > .icon-column input[type="checkbox"] {
  position: static;
  margin: 0;
}
/* line 55, ../../sass/mobile.scss */
.list-row > .content-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 59, ../../sass/mobile.scss */
.list-row > .content-column > h2 {
  font-size: 14px;
}
/* line 65, ../../sass/mobile.scss */
.list-row > .content-column > h3 {
  font-size: 12px;
}
/* line 70, ../../sass/mobile.scss */
.list-row > .content-column > p {
  font-size: 12px;
  font-weight: 300;
}
/* line 77, ../../sass/mobile.scss */
.list-row > .content-column > h2, .list-row > .content-column h3, .list-row > .content-column p {
  margin: 0;
  padding: 2px;
}
