@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 39, ../../sass/_fonts.scss */
span[class*="icon-"]:after {
  font-family: "entypo";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../../sass/_fonts.scss */
.km-mail:after {
  content: "\2709";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-cell:after {
  content: "📞";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-bbm:after {
  content: "\f354";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-menu:after {
  content: "\2630";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-message:after {
  content: "\e718";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-reply:after {
  content: "\e712";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-forward:after {
  content: "\27a6";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-archive:after {
  content: "\e738";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-check:after {
  content: "\2713";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-arrow-left:after {
  content: "🔙";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-facebook:after {
  content: "\f30c";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-twitter:after {
  content: "\f309";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-circle:after {
  content: "\26ab";
  font-family: "entypo";
}

/* line 9, ../../sass/_fonts.scss */
.km-folder:after {
  content: "📁";
  font-family: "entypo";
}

/* line 10, ../../sass/mobile.scss */
html, body, .km-navbar .km-button, .km-list .km-icon, .km-button, .km-button .km-icon, ul .content-row > .icon-column, ul .list-row > .icon-column {
  margin: 0;
  padding: 0;
}

/* line 15, ../../sass/mobile.scss */
html, body {
  height: 100%;
}

/* line 22, ../../sass/mobile.scss */
.km-navbar .km-rightitem {
  position: static;
  float: right;
}
/* line 27, ../../sass/mobile.scss */
.km-navbar .km-leftitem {
  position: static;
  float: left;
}
/* line 32, ../../sass/mobile.scss */
.km-navbar .km-button {
  line-height: 1;
  margin: 5px 2px;
  padding: 5px 10px;
}

/* line 40, ../../sass/mobile.scss */
.km-view-title {
  line-height: 1;
}
/* line 43, ../../sass/mobile.scss */
.km-view-title h4 {
  line-height: 2;
  font-weight: 800;
}

/* line 58, ../../sass/mobile.scss */
.km-button .km-icon {
  margin-right: 5px;
}
/* line 64, ../../sass/mobile.scss */
.km-button .km-text {
  vertical-align: middle;
}

/* line 70, ../../sass/mobile.scss */
.km-list input[type="search"] {
  width: 100%;
}

/* line 75, ../../sass/mobile.scss */
a.km-icon {
  text-decoration: none;
}

/* line 79, ../../sass/mobile.scss */
ul .content-row, ul .list-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}

/* line 84, ../../sass/mobile.scss */
ul .content-row > .content-column h2, ul .list-row > .content-column h2, ul .content-row > .content-column h3, ul .list-row > .content-column h3, ul .content-row > .content-column h4, ul .list-row > .content-column h4, ul .content-row > .content-column p, ul .list-row > .content-column p {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 89, ../../sass/mobile.scss */
ul .content-row > .content-column h2, ul .list-row > .content-column h2, ul .content-row > .content-column h3, ul .list-row > .content-column h3, ul .content-row > .content-column h4, ul .list-row > .content-column h4 {
  white-space: nowrap;
}

/* line 94, ../../sass/mobile.scss */
#device-wrapper {
  background-image: url("../images/device-wrapper.png");
  box-sizing: border-box;
  padding: 190px 47px 168px 41px;
  width: 557px;
  height: 1100px;
  margin: 0 auto;
  position: relative;
}

/* line 104, ../../sass/mobile.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 110, ../../sass/mobile.scss */
#notification-indicator {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  position: absolute;
  top: 95px;
  left: 480px;
  color: #f00;
  font-size: 24px;
}

/* line 121, ../../sass/mobile.scss */
.badge {
  display: block;
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

/* line 128, ../../sass/mobile.scss */
img.native {
  width: 100%;
}

/* line 132, ../../sass/mobile.scss */
.clickable {
  cursor: pointer;
}

/* line 138, ../../sass/mobile.scss */
ul .label-row .label {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
  color: #fff;
  padding: 2px 4px;
  margin: 2px;
}
/* line 147, ../../sass/mobile.scss */
ul .contact {
  font-size: 14px;
}
/* line 151, ../../sass/mobile.scss */
ul .left {
  float: left;
}
/* line 155, ../../sass/mobile.scss */
ul .right {
  float: right;
}
/* line 159, ../../sass/mobile.scss */
ul .content-row, ul .list-row {
  height: 80px;
}
/* line 167, ../../sass/mobile.scss */
ul .content-row > .icon-column, ul .content-row .list-row > .icon-column, ul .content-row > .content-column, ul .content-row .list-row > .content-column, ul .list-row .content-row > .icon-column, ul .list-row > .icon-column, ul .list-row .content-row > .content-column, ul .list-row > .content-column {
  height: 100%;
}
/* line 171, ../../sass/mobile.scss */
ul .content-row > .icon-column, ul .list-row > .icon-column {
  line-height: 80px;
  width: 60px;
  text-align: center;
  position: static;
  font-size: 24px;
}
/* line 181, ../../sass/mobile.scss */
ul .content-row > .icon-column input[type="checkbox"], ul .list-row > .icon-column input[type="checkbox"] {
  position: static;
  margin: 0;
}
/* line 187, ../../sass/mobile.scss */
ul .content-row > .content-column, ul .list-row > .content-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 191, ../../sass/mobile.scss */
ul .content-row > .content-column h2, ul .list-row > .content-column h2 {
  font-size: 20px;
}
/* line 196, ../../sass/mobile.scss */
ul .content-row > .content-column h3, ul .list-row > .content-column h3 {
  font-size: 12px;
}
/* line 201, ../../sass/mobile.scss */
ul .content-row > .content-column h4, ul .list-row > .content-column h4 {
  font-size: 10px;
}
/* line 206, ../../sass/mobile.scss */
ul .content-row > .content-column p, ul .list-row > .content-column p {
  font-size: 12px;
  font-weight: 300;
  max-height: 30px;
}
/* line 214, ../../sass/mobile.scss */
ul .content-row > .content-column h2, ul .content-row > .content-column h3, ul .content-row > .content-column h4, ul .content-row > .content-column p, ul .list-row > .content-column h2, ul .list-row > .content-column h3, ul .list-row > .content-column h4, ul .list-row > .content-column p {
  margin: 0;
  padding: 2px;
}
/* line 219, ../../sass/mobile.scss */
ul .content-row > .content-column .fromId, ul .content-row > .content-column .fromName, ul .list-row > .content-column .fromId, ul .list-row > .content-column .fromName {
  width: 50%;
  display: inline-block;
}
/* line 224, ../../sass/mobile.scss */
ul .content-row > .content-column .fromId, ul .list-row > .content-column .fromId {
  float: right;
  text-align: right;
  font-weight: 300;
}
/* line 230, ../../sass/mobile.scss */
ul .content-row > .content-column .fromName, ul .list-row > .content-column .fromName {
  float: left;
}
